* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #6b644a;
}

/* header */
header {
    width: 100%;
    min-height: 100vh;
    background: rgb(227, 242, 247);
    background-image: url("../img/bg-photo.jpg");
    background-size: cover;
    background-position: center;
}

/* nav */

nav {
    width: 100%;
    height: 100px;
    background: rgba(173, 216, 230, 0.422);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav-links,
.social-links {
    display: flex;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 1.8rem;
}

.nav-links a {
    background: #af95959b;
    padding: 8px 20px;
    border-radius: 7px;
    box-shadow: inset 0 0 5px 2px #ddd;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    background: #af9595;
    box-shadow: inset 0 0 5px 2px #af9595;
    color: rgb(199, 199, 177);
}

#menu {
    cursor: pointer;
    display: none;
}

/* banner */
.banner {
    width: 100%;
    /* min-height: 100vh; */
    min-height: calc(100vh - 100px);
    /* background: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 0 20px;
}

.banner h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px #242522c6;
    color: #b1b0ae;
}

.banner p {
    font-size: 2.2rem;
    /* max-width: 700px; */
    text-shadow: 1px 1px 2px #0c0d0ac6;
    color: #abaaa6;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #67694c;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 7px;
    box-shadow: inset 0 0 5px 2px #af9595;
    transition: all 0.3s ease-in-out;
}

/* section */
section {
    min-height: 60vh;
    padding: 100px;
}

/* about section */
.about {
    background: #b6dce9cc;
    display: flex;
    min-height: 80vh;
}

.img-container,
.text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    flex-direction: column;
    gap: 20px;
}

.img-container {
    position: relative;
}

.img-container img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px #af9595;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.img-2 {
    left: 200px;
    top: 200px;
    z-index: 1;
}

.img-1 {
    z-index: 2;
}

.img-container:hover .img-1 {
    transform: scale(0.7);
    z-index: 3;
}

.img-container:hover .img-2 {
    transform: scale(1.2);
    z-index: 4;
}

/* menu */
.menu {
    background: #fff;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.img-container-menu {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    background: #000;
    border-radius: 50%;
    margin-bottom: 20px;
}

.img-bg-coffee {
    background: #af9595;
}

.img-bg-cake {
    background: #b6dce9cc;
}

.img-bg-cold-drink {
    background: #9ef59dcc;
}

.img-bg-smoothie {
    background: #7adbfbcc;
}

.img-bg-fruit {
    background: #e8e393cc;
}

.menu-item {
    text-align: center;
    /* background: orange; */
}


.menu-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 5px 2px #af9595;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* products */
.products {
    background: #e1f4facc;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product {
    box-shadow: 0px 0px 2px #ccc;
    height: 260px;
    display: flex;
}

.product-info,
.product-img {
    flex: 1;
    /* background: #000; */
}

.product-info {
    /* flex: 1; */
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.btn-sm {
    padding: 7px 10px;
    background: #404134;
    color: #fff;
    font-size: 1rem;
    border-radius: 7px;
    box-shadow: inset 0 0 5px 2px #af9595;
    transition: all 0.3s ease-in-out;
}

.product-1 {
    background: #af9595;
}

.product-2 {
    background: #b6dce9cc;
}

.product-3 {
    background: #9ef59dcc;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {
    width: 250px;
    height: 250px;
    /* border-radius: 50%; */
    object-fit: cover;
    object-position: center;
    /* box-shadow: 0 0 5px 2px #af9595; */
}

/* trend products */
.trend-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.trend-card {
    text-align: center;
}