/* use desktop first */

@media screen and (max-width: 700px) {
    nav {
        padding: 0 25px;
    }

    .social-links {
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 100px;
        background: #daadad87;
        padding: 30px;
        /* width: 50%; */
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transform-origin: top right;
        transition: all 0.5s ease-in-out;
        /* display: none; */
    }

    .show {
        transform: scale(1);
    }

    #menu {
        display: block;
    }

    /* banner */
    .banner h1 {
        font-size: 3rem;
    }

    .banner p {
        font-size: 1.2rem;
    }

    /* about */
    .about {
        flex-direction: column;
    }

    .img-container img {
        width: 300px;
        height: 200px;
        transform: scale(1);
    }

    .img-1 {
        top: 20px;
    }

    .img-2 {
        display: none;
    }

    /* menu */
    .menu-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

}